<div class="contextLogin">
    <div class="areaLogin">
        <ul class="circlesLogin">
            <li class="liLogin"></li>
            <li class="liLogin"></li>
            <li class="liLogin"></li>
            <li class="liLogin"></li>
            <li class="liLogin"></li>
            <li class="liLogin"></li>
            <li class="liLogin"></li>
            <li class="liLogin"></li>
            <li class="liLogin"></li>
            <li class="liLogin"></li>
        </ul>
        <form class="formLogin" [formGroup]="formLogin" (ngSubmit)=Login()>
            <p class="headerLogin">Inicio de Sesión</p>
            <div class="input-container">
                <input placeholder="Correo electronico o usuario" class="input-field" type="text"
                    formControlName="username" />
                <label for="input-field" class="input-label">Correo electronico</label>
                <span class="input-highlight"></span>
            </div>

            <div class="input-container">
                <input placeholder="Contraseña" class="input-field" type="password" formControlName="password" />
                <label for="input-field" class="input-label">Contraseña</label>
                <span class="input-highlight"></span>
            </div>

            <button class="buttonLogin" [disabled]="!formLogin.valid" type="submit">
                <span class="spanLogin"></span> Entrar
            </button>
            <p class="help is-danger"></p>

            <button class="buttonLogin" (click)="goBack()">
                <span class="spanLogin"></span>Volver
            </button>


        </form>
    </div>
</div>