<div class="contextLogin">
    <div class="areaLogin">
        <ul class="circlesLogin">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <form class="formLogin"> <!-- [formGroup]="formLogin" (ngSubmit)=Login() -->
            <p class="headerLogin">Inicio de Sesión</p>
            <div class="input-container">
                <!-- [ngClass]="{ 'is-loading' : loginLoading}" -->
                <input placeholder="Correo electronico" class="input-field" type="email" formControlName="email" />
                <label for="input-field" class="input-label">Correo electronico</label>
                <span class="input-highlight"></span>
            </div>

            <div class="input-container">
                <!-- [ngClass]="{ 'is-loading' : loginLoading}" -->
                <input placeholder="Contraseña" class="input-field" type="password" formControlName="password" />
                <label for="input-field" class="input-label">Contraseña</label>
                <span class="input-highlight"></span>
            </div>

            <button class="buttonLogin">
                <!-- [disabled]="!formLogin.valid" type="submit"  
                                 [ngClass]="{'is-danger' : loginError, 'is-warning' : !loginError,
                                 'is-loading' : loginLoading}" 
                    -->
                <span class="spanLogin"></span>
                <span class="spanLogin"></span>
                <span class="spanLogin"></span>
                <span class="spanLogin"></span> Entrar
            </button>
            <!-- *ngIf="loginError" -->
            <p class="help is-danger"> <!-- {{ loginErrorMessage }} --> </p>

            <button class="buttonLogin">
                <span class="spanLogin"></span>
                <span class="spanLogin"></span>
                <span class="spanLogin"></span>
                <span class="spanLogin"></span>Volver
            </button>
            <!-- (click)="goBack()" -->
        </form>
    </div>
</div>