<div class="contextLogin">
    <div class="areaLogin">
        <ul class="circlesLogin">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <form class="containerLogin"> <!-- [formGroup]="formLogin" (ngSubmit)=Login() -->

            <div>
                <label>Correo</label>
                <div>
                    <!-- [ngClass]="{ 'is-loading' : loginLoading}" -->
                    <input class="" type="email" formControlName="email" />
                </div>
            </div>

            <div>
                <label>Contraseña</label>
                <div> <!-- [ngClass]="{ 'is-loading' : loginLoading}" -->
                    <input class="" type="password" formControlName="password" />
                </div>
            </div>

            <div>
                <button>
                    <!-- [disabled]="!formLogin.valid" type="submit"  
                                 [ngClass]="{'is-danger' : loginError, 'is-warning' : !loginError,
                                 'is-loading' : loginLoading}" 
                            -->
                    Entrar
                </button>
                <!-- *ngIf="loginError" -->
                <p class="help is-danger"> <!-- {{ loginErrorMessage }} --> </p>
            </div>

            <div>
                <button type="button">Volver</button>
                <!-- (click)="goBack()" -->
            </div>
        </form>
    </div>
</div>