<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      Cuer
      <strong>Blog</strong>
    </a>
  </div>
  <!-- Inicio Modal -->
<div class="container" *ngIf="isAuth" [ngClass]="{ 'is-loading' : isLoading}">

  <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
          <div class="contcard">
              <div class="card">
                  <div class="card-content">
                      <div class="content">
                          <div class="field">
                              <label class="label">Titulo</label>
                              <div class="control">
                                  <input class="input-field" placeholder="Título" type="text">
                              </div>
                          </div>

                          <div class="field">
                              <label class="label">Mensaje</label>
                              <div class="control">
                                  <textarea class="textarea  input-field" placeholder="¿Qué tienes para decir?"></textarea>
                              </div>
                          </div>
                          <div class="field is-grouped">
                              <div class="control">
                                  <button class="button is-link" type="submit">Publicar</button>
                              </div>
                              <div class="control">
                                  <button class="button is-link is-light buttcls" (click)="closeModal()">Cancelar</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <button class="button is-primary button-post" (click)="openModal()"><span class="spanLogin"></span>Crear nuevo post</button>
</div>
<!-- Fin Modal -->

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-success" href="register" *ngIf="!isAuth" >
            Registrarse
          </a>
          <a class="button is-success" href="login" *ngIf="!isAuth">
            Iniciar sesión 
          </a>
          <a class="button is-success" href="acerca">
            Acerca de
          </a>
          <a class="button is-danger" (click)="logout()" *ngIf="isAuth">
            Salir
          </a>
          <a href="profile">
            <img src="https://c8.alamy.com/compes/2j26t31/avatar-de-usuario-femenino-imagen-de-perfil-de-aplicacion-generica-2j26t31.jpg" class="img-perfil" *ngIf="isAuth">
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
