
.containerGrid{
  width: 100%;
  margin: auto;
  padding: 60px;
  flex-wrap: wrap;


  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: flex;
}

.itemGrid{
  margin-top: -250px;
  text-align: center;
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 1px;
  flex: 1;
  transition: .3s all ease;
}

.card1{
  border-radius: 20px;
  margin: 150px;
  padding: 10px;
  margin-top: 250px;
  margin-bottom: 10px;
  flex: 1;
  transition: .3s all ease;
}


.titulo{
  margin-bottom: 50px;
  font-size: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

.input-group{
  text-align: center;
  margin: auto;
}
.input-group-text{
  margin-top: 5px;
}


