
.containerGrid{
  width: 100%;
  margin: auto;
  padding: 60px;
  background: #50C878;
  flex-wrap: wrap;


  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: flex;
}

.itemGrid{
  text-align: center;
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
  flex: 1;
  transition: .3s all ease;
}

.card{
  border-radius: 20px;
  margin: 280px;
  padding: 10px;
  flex: 1;
  transition: .3s all ease;
}

.card:hover{
  flex: 2;
  background-color: rgb(185, 205, 197);
}
