
<div class="about-section">
	<h1>Acerca de Nosotros</h1>
	 </div>

<div class="slide-container">
  
	<div class="wrapper">
	  <div class="clash-card barbarian">
		<div class="clash-card__image clash-card__image--barbarian">
		  <img src="https://d18vdu4p71yql0.cloudfront.net/libraries/language-craft/crow.png" alt="barbarian" />
		</div>
		<div class="clash-card__level clash-card__level--barbarian">Project Leader</div>
		<div class="clash-card__unit-name">Pasalagua Santana Ismael</div>
		
		
  
	  </div> 
	</div> <!-- finaliza tarjeta -->
	
	<div class="wrapper">
	  <div class="clash-card archer">
		<div class="clash-card__image clash-card__image--archer">
		  <img src="https://cdn-icons-png.flaticon.com/512/8548/8548881.png" alt="archer" />
		</div>
		<div class="clash-card__level clash-card__level--archer">no se su rol</div>
		<div class="clash-card__unit-name">Alvarez Zepedad Dylan Steve</div>
		
  
  
	  </div> 
	</div> <!-- finaliza tarjeta -->
	
	<div class="wrapper">
	  <div class="clash-card giant">
		<div class="clash-card__image clash-card__image--giant">
		  <img src="https://static.vecteezy.com/system/resources/thumbnails/014/019/935/small/black-raven-or-crow-bird-side-view-cartoon-style-flat-design-halloween-horror-concept-hand-drawn-trendy-isolated-logo-print-design-template-png.png" alt="giant" />
		</div>
		<div class="clash-card__level clash-card__level--giant">No se su rol</div>
		<div class="clash-card__unit-name">Chavez Salgado Luis Eduardo</div>
		
  
		
	  </div> <!-- end clash-card giant-->
	</div> <!-- end wrapper -->
	
	 <div class="wrapper">
	  <div class="clash-card goblin">
		<div class="clash-card__image clash-card__image--goblin">
		  <img src="https://images.fineartamerica.com/images/artworkimages/medium/2/hooded-crow-petra-stephens-transparent.png" alt="goblin" />
		</div>
		<div class="clash-card__level clash-card__level--goblin">No se su rol</div>
		<div class="clash-card__unit-name">Flores Arriaga Fernanda Dali</div>
		

		
  
	  </div> 
	</div> <!-- finaliza tarjeta -->
	
	<div class="wrapper"> <!-- inicia la tarjeta -->
	  <div class="clash-card wizard">
		<div class="clash-card__image clash-card__image--wizard">
		  <img src="https://static.wixstatic.com/media/f7ccc0_d392214d31df4551801eb16313cc3d4c.png/v1/fill/w_448,h_250,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/f7ccc0_d392214d31df4551801eb16313cc3d4c.png" alt="wizard" />
		</div>
		<div class="clash-card__level clash-card__level--wizard">No se su rol</div>
		<div class="clash-card__unit-name">Garduño Hernandez Diego</div>
		
  
  
	  </div>
	</div> <!-- fin de la tarjeta -->



	  <div class="wrapper"> <!-- inicia la tarjeta -->
		<div class="clash-card leo">
		  <div class="clash-card__image clash-card__image--leo">
			<img src="https://img.freepik.com/free-icon/kiwi_318-615982.jpg?q=10&h=200" alt="leo" />
		  </div>
		  <div class="clash-card__level clash-card__level--leo">No se su rol</div>
		  <div class="clash-card__unit-name">Lechuga Flores Leonel</div>
		  
	
	
		</div>
	  </div> <!-- fin de la tarjeta -->

	  <div class="wrapper"> <!-- inicia la tarjeta -->
		<div class="clash-card ivan">
		  <div class="clash-card__image clash-card__image--ivan">
			<img src="https://www.seekpng.com/png/full/5-56715_black-evil-crow-landind-down-tattoo-sketch-2.png" alt="ivan" />
		  </div>
		  <div class="clash-card__level clash-card__level--ivan">No se su rol</div>
		  <div class="clash-card__unit-name">Villaloz Piña Ivan</div>
		  
	
	
		</div>
	  </div> <!-- fin de la tarjeta -->

	  <div class="wrapper"> <!-- inicia la tarjeta -->
		<div class="clash-card juan">
		  <div class="clash-card__image clash-card__image--juan">
			<img src="https://maybreak.com/content/images/2020/09/birb-publish-icon-1.png" alt="juan" />
		  </div>
		  <div class="clash-card__level clash-card__level--juan">No se su rol</div>
		  <div class="clash-card__unit-name">Hernandez Puebla Juan</div>
		  
	
	
		</div>
	  </div> <!-- fin de la tarjeta -->

	  <div class="wrapper"> <!-- inicia la tarjeta -->
		<div class="clash-card edgar">
		  <div class="clash-card__image clash-card__image--edgar">
			<img src="https://appstickers-cdn.appadvice.com/1485193004/833358652/05323c53a5972a88f2823566852307a6-8.png" alt="wizard" />
		  </div>
		  <div class="clash-card__level clash-card__level--edgar">No se su rol</div>
		  <div class="clash-card__unit-name">Rosales Hernandez Edgar</div>
		  
	
	
		</div>
	  </div> <!-- fin de la tarjeta -->

	  <div class="wrapper"> <!-- inicia la tarjeta -->
		<div class="clash-card christian">
		  <div class="clash-card__image clash-card__image--christian">
			<img src="https://lifewhack.me/wp-content/uploads/2018/05/crow-trans.png" alt="wizard" />
		  </div>
		  <div class="clash-card__level clash-card__level--christian">Aguile Leader</div>
		  <div class="clash-card__unit-name">Rubi Cirilo Christian</div>
		  
	
	
		</div>
	  </div> <!-- fin de la tarjeta -->

	  <div class="wrapper"> <!-- inicia la tarjeta -->
		<div class="clash-card salome">
		  <div class="clash-card__image clash-card__image--salome">
			<img src="https://dejpknyizje2n.cloudfront.net/marketplace/products/eea8598a1b8347d78329a1ede08ff218.png" />
		  </div>
		  <div class="clash-card__level clash-card__level--salome">No se su rol</div>
		  <div class="clash-card__unit-name">Salomè Hernandez Adolfo Angel</div>
		  
	
	
		</div>
	  </div> <!-- fin de la tarjeta -->

	  <div class="wrapper"> <!-- inicia la tarjeta -->
		<div class="clash-card sergio">
		  <div class="clash-card__image clash-card__image--sergio">
			<img src="https://i.pinimg.com/originals/f9/b0/b8/f9b0b8e7f1aa7543df6d9cb022b8b695.png" alt="wizard" />
		  </div>
		  <div class="clash-card__level clash-card__level--sergio">No se su rol</div>
		  <div class="clash-card__unit-name">De la Cruz Gutierrez Sergio</div>
		  
	
	
		</div>
	  </div> <!-- fin de la tarjeta -->

	  <div class="wrapper"> <!-- inicia la tarjeta -->
		<div class="clash-card sebas">
		  <div class="clash-card__image clash-card__image--sebas">
			<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/72767975-5435-45c1-a040-a47ac9c0fe1c/df5kjcv-6385170d-dfd0-4b55-8d6a-5c59d0d98b00.png/v1/fill/w_1280,h_1280,strp/chibi_crow_sticker_by_flickerfriend_df5kjcv-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzcyNzY3OTc1LTU0MzUtNDVjMS1hMDQwLWE0N2FjOWMwZmUxY1wvZGY1a2pjdi02Mzg1MTcwZC1kZmQwLTRiNTUtOGQ2YS01YzU5ZDBkOThiMDAucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.QqndZCT6-Wr99zDXhsFs9X49HIbFt1ICTjNWP5h6fQQ" alt="wizard" />
		  </div>
		  <div class="clash-card__level clash-card__level--sebas">No se su rol</div>
		  <div class="clash-card__unit-name">Reza Hernandez Sebastian</div>
		  
	
	
		</div>
	  </div> <!-- fin de la tarjeta -->
	
  </div> <!-- end container -->