<!DOCTYPE html>
<html>
<head>
	<title>Acerca de Nosotros</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>	
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>Acerca de Nosotros</h1>
				</div>
				<div class="content">
					<h3>Ando buscando plantillas chidas de SASS, no se desesperen quedara verguitas</p>
					<div class="button">
						<a href="">hola</a>
					</div>
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
	</div>

	
</body>
</html>
