
body {
  background: #000000; 
  font-family: "Century Gothic", sans-serif;
  user-select: none;
  
}

.card {
  position: relative;
  right: 400px;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background:  #50C878;
  border-radius: 20px;
  box-shadow: 15px 10px 9px RGB(0, 100, 0)
}


.profile-picture {
  
  background-image: url('/assets/images/cuervo.jpg');
  
  background-size:cover;
  background-position:-10px;
  top: 30px;
  width: 150px;
  height: 150px;
  border-radius: 60%;
  margin: auto;
  display: block;
  z-index: 1;
  border: 1px solid rgb(239, 239, 239);
  position: relative;
}

.profile-picture-outer-radius {
  width: 158px;
  height: 157px;
  top: -5px;
  left: -5px;
  border-radius: 50%;
  border: 5px solid #f4f4f4;
  position: absolute;
}

.infobox {
  margin: 75px 35px;
  color: #fcfcfc;
  

}
.infobox-username {
  font-size: 1.5em;
  margin: -65px;
  text-align: center;
  color: rgb(255, 255, 255);
}




//boton volver_________________________________________________
.buttonprofile {
  position: relative;
  outline: none;
  border: 1px solid #ffffff;
  background: #006400;
  color: #f9faf9;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
 
 }
 .buttonprofile:hover {
  box-shadow: 0 0 10px #08a42a, 0 0 25px #232723, 0 0 50px #02632e;
  transition-delay: 0.6s;
 }
 
 .buttonprofile .spanLogin {
  position: absolute;
 }
 
 .buttonprofile .spanLogin:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #50C878);
 }
 
 .buttonprofile:hover .spanLogin:nth-child(1) {
  left: 100%;
  transition: 0.7s;
 }
 
 .buttonprofile .spanLogin:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #006400);
 }
 
 .buttonprofile:hover .spanLogin:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
 }
 
 .buttonprofile .spanLogin:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #50C878);
 }
 
 .buttonprofile:hover .spanLogin:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
 }
 
 .buttonprofile .spanLogin:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #006400);
 }
 
 .buttonprofile:hover .spanLogin:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
 }
 
 .buttonprofile:active {
  background: #98FB98;
  background: linear-gradient(to top right, #98FB98, #006400);
  color: #bfbfbf;
  box-shadow: 0 0 8px #50C878, 0 0 8px #006400, 0 0 8px #50C878;
  transition: 0.1s;
 }
 
 .buttonprofile:active .spanLogin:nth-child(1) 
 span:nth-child(2) 
 span:nth-child(2) 
 span:nth-child(2) {
  transition: none;
  transition-delay: none;
 }

.circlesprofile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circlesprofile li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.4);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circlesprofile li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circlesprofile li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circlesprofile li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circlesprofile li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circlesprofile li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circlesprofile li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circlesprofile li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circlesprofile li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circlesprofile li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circlesprofile li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
//__________
.center {
  margin: 0;
  position: absolute;
  top: 80%;
  right: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


//___________Fondo
.contextProfile {
  width: 200%;
height: 300vh;

}

.areaProfile {
  background: #98FB98;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
//________centrado del texto de la informacion

  .contenedor {
    width: 70%; /* ancho del contenedor */
    margin: 0 auto; /* margen automático en los lados */
    
  }

  //________Publicaciones

  .pub {
    border: 3.5px solid  #98FB98 ; 
    background-color:#50C878  ; 
    padding: 10px; 
    height: 40px;
    border-radius: 20px;
    color: #fff;


  }
  .pub1 {
    border: 3.5px solid #98FB98  ; 
    background-color:  #50C878 ; 
    padding: 10px; 
    height: 210px;
    border-radius: 20px;
    color: #fff;
  }
  p {
    color: #fff;

  }

 
  .containerGrid1{
    width: 100%;
    margin: auto;
    padding: 60px;
    background: #50C878;
    flex-wrap: wrap;
  
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: flex;
  }
  
  .itemGrid1{
    margin-top: -250px;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 1px;
    flex: 1;
    transition: .3s all ease;
  }
  
  .card1{
    position: relative;
    right: -450px;
    width:800px;
    height: 340px;
    margin-top: -220px;
    background:  #006400  ;
    border-radius: 20px;
    padding: 10px;
    flex: 1;
    transition: .3s all ease;
    box-shadow: 15px 10px 9px RGB(0, 100, 0)
  }
 
  
  
  .titulo{
    margin-bottom: 50px;
    font-size: 2rem;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .input-group{
    text-align: center;
    margin: auto;
  }
  .input-group-text{
    margin-top: 5px;
  }
  //boton de eliminar__________________
  .buttonsprofile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -14px;
  }

  
/* Estilos base del botón */
.delete-btn {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  
}

/* Estilos del pseudo-elemento ::before */
.delete-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #f44336;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: transform 0.3s ease-in-out;
  opacity: 0;
}

/* Estilos del botón al pasar el cursor */
.delete-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.delete-btn:hover::before {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(225deg);
}

/* Estilos del botón al hacer clic */
.delete-btn:active {
  transform: scale(0.95);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  
}


/* carrusel de titulo*/
.carrusel p {
  display: inline-block;
  animation: desplazamiento 10s linear infinite;
}

@keyframes desplazamiento {
  0% {
    transform: translateX(-600);
  }
  100% {
    transform: translateX(-200%);
  }
}
//boton siguiente___________________________________________
.buttonsprofile1 {
  display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;

}

.sigui-btn1 {
  background-color: #1404ef; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  border: none; /* Elimina el borde del botón */
  border-radius: 4px; /* Agrega bordes redondeados al botón */
  cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
}

.sigui-btn1:hover {
  background-color: #18cede; /* Cambia el color de fondo cuando el cursor está sobre el botón */
}



