<app-navbar />


<div class="contextProfile1">
  <div class="areaProfile">
<div class="card">
  <div class="profile-picture">
    <div class="profile-picture-outer-radius"></div>
  </div>
 
  <br>
  <br>
  <div class="contenedor">
  <div class="infobox"> 
    <p class="infobox-username" *ngIf="name">{{name}}</p>
  </div>
  


<div class="center">
 <button class="buttonprofile">
  <span class="spanprofile" ></span>
  <a href="#" onclick="history.back()" style="color:rgb(255, 255, 255)">
  <span class="spanprofile"></span>
  <span class="spanprofile"></span>
   <span class="spanprofile" ></span>volver
  </a>
</button>
</div>

</div>
</div>
</div>

<!-- publicaciones-->

<div class="itemGrid1">
  <div class="card1 card1">
    <div class="card-content1">
      <div class="pub">
        <div class="carrusel">
          <p>Publicacion</p>
        </div>
          <br>
        </div>
      <div class="col">
      <p class="subtitle1">Fecha de Publicacion:</p>
      </div>
      <div class="pub1">
      <div class="content1">
        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros.
        Donec id elit non mi porta gravida at
        eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Cras
        mattis consectetur purus sit amet fermentum.
      </div> 
      <br>
        
        
        
        <!-- botones-->
        <div class="buttonsprofile">
          <button class="delete-btn">Eliminar</button>
        </div>
      </div>
      <div class="buttonsprofile1">
        <button class="sigui-btn1">Siguiente</button>
      </div>
    </div>
      

